* {
  font-family: 'Times New Roman', Times, serif;
}

/* HEADER */
.sound-escape-header {
  --background: #f7e2d2;
  --color: #000;
}

.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  background-color: white;
}

.custom-header .left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.custom-header .left ion-icon {
  font-size: 20px;
}

.custom-header .left .icon {
  width: 24px;
  height: 24px;
}

.custom-header .left .serenity {
  color: #bbb;
  font-weight: 400;
}

.custom-header .left .soundscape {
  color: #e9d5c5;
  font-weight: 600;
}

.custom-header .music-icon {
  font-size: 24px;
  color: black;
}
