<footer class="footer">
    <div class="footer-item" [routerLink]="['/community']">
        <img src="assets/community.png" alt="Community"/>
        <span>Community</span>
    </div>
    <div class="footer-item" [routerLink]="['/diario']">
        <img src="assets/diario.png" alt="Diario"/>
        <span>Diario</span>
    </div>
    <div class="footer-item" [routerLink]="['/home-benvenuto']">
        <img src="assets/home.png" alt="Home"/>
        <span>Home</span>
    </div>

    <div class="footer-item" [routerLink]="['/contenuti']">
        <img src="assets/contenuti.png" alt="Contenuti"/>
        <span>Contenuti</span>
    </div>

    <div class="footer-item" [routerLink]="['/profilo-utente']">
        <img src="assets/me.png" alt="Me"/>
        <span>Me</span>
    </div>
</footer>
