* {
  font-family: 'Times New Roman', Times, serif;
}

/* BACKGROUND */
.welcome-background {
  background: url('/assets/Sfondo.png') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* OVERLAY */
.overlay {
  backdrop-filter: brightness(0.85);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
}

/* LOGO */
.logo {
  width: 200px;
}

/* TITOLI */
.welcome-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: -17px;
}

.subtitle {
  font-size: 16px;
  margin: 10px auto 30px;
}

/* BOTTONI */
.login-btn {
  --background: #d7bcb7;
  color: white;
  font-size: 18px;
  margin: 0 20px;
  border-radius: 12px;
  position: fixed;
  bottom: 100px;
}

.signup-text {
  margin-top: 20px;
  font-size: 14px;
  color: white;
  position: fixed;
  bottom: 55px;
}
