<ion-content fullscreen>
    <div class="welcome-background">
        <div class="overlay">
            <img src="assets/Logo.png" alt="Serenity Logo" class="logo" />
            <h2 class="welcome-title">WELCOME</h2>
            <p class="subtitle">Do meditation. Stay focused.<br>Live a healthy life.</p>

            <ion-button expand="block" class="login-btn" routerLink="/login">
                Login With Email
            </ion-button>

            <p class="signup-text">
                Don’t have an account? <a routerLink="/signup"><strong>Sign Up</strong></a>
            </p>
        </div>
    </div>
</ion-content>
