<ion-content class="settings-page">
    <div class="background-image"></div>
    <div class="profile-card">
        <ion-avatar class="big-avatar">
            <img [src]="user.photo" alt="Avatar"/>
        </ion-avatar>
        <h2>Ciao {{ user.name || 'Nome utente' }}!</h2>
        <p>
            Qui puoi ritrovare te stessa, tracciare il tuo percorso e segnalare le tue preferenze.
            Che sia una pausa di pochi minuti o un momento tutto tuo, siamo felici che tu sia qui.
            Ogni passo conta e il tuo inizia proprio adesso.
        </p>
    </div>

    <!-- Lista Opzioni -->
    <ion-list class="settings-list">
        <ion-item button detail (click)="goToModificaProfilo()">
            <ion-icon name="create-outline" slot="start"></ion-icon>
            <ion-label>Modifica Profilo</ion-label>
        </ion-item>

        <ion-item button detail (click)="goToNotifiche()">
            <ion-icon name="notifications-outline" slot="start"></ion-icon>
            <ion-label>Notifiche</ion-label>
        </ion-item>

        <ion-item button detail (click)="goToLingua()">
            <ion-icon name="language-outline" slot="start"></ion-icon>
            <ion-label>Lingua</ion-label>
        </ion-item>

        <ion-item button detail (click)="goToPrivacy()">
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-label>Privacy</ion-label>
        </ion-item>

        <ion-item button detail (click)="goToProgressi()">
            <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
            <ion-label>Progressi</ion-label>
        </ion-item>

        <ion-item button detail (click)="goToFaq()">
            <ion-icon name="help-circle-outline" slot="start"></ion-icon>
            <ion-label>FAQ</ion-label>
        </ion-item>

        <ion-item button detail (click)="logout()">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-label>Log Out</ion-label>
        </ion-item>
    </ion-list>

    <div class="delete-account">
        <ion-button fill="clear" color="danger" size="small" (click)="deleteAccount()">
            Delete My Account
        </ion-button>
    </div>

</ion-content>
<app-footer></app-footer>

