.ion-padding{
  --background: #ffffff url('/assets/SfondoImpostazioni.png') no-repeat center center / cover;
}

.toggle-item {
  --background: #f9f9f9;
  border-radius: 8px;
  margin: 20px 5px 18px;
  display: flex;
  align-items: flex-end; /* Allinea verticalmente in basso */
  justify-content: space-between; /* Spazio tra label e toggle */
  font-size: 18px;
}

.toggle-item ion-label {
  flex-grow: 1;
}

.toggle-item ion-toggle {
  align-self: flex-end;
}

.password-item {
  position: relative;
  border-radius: 8px;
  margin: 20px 5px 18px;
  --background: #f9f9f9;


  ion-input {
    font-size: 20px;
    padding-right: 35px;
  }

  .eye-icon {
    position: absolute;
    right: 10px;
    margin-top: 8px;
    font-size: 20px;
    color: #666;
  }
}
.password-item ion-label {
  font-size: 18px;
}

.change-password-btn {
  --background: #1d1d5c;
  --border-radius: 6px;
  max-width: 200px;
  display: block;
  margin: 20px auto;
  font-size: 19px;
}


