<ion-content class="ion-padding" fullscreen>
    <div class="container">
        <div class="back-button" (click)="goBack()">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </div>

        <h1>Forgotten Password</h1>
        <p>
            Inserire l’email usata per creare l’account, così possiamo mandare una email per fare il reset della password.
        </p>

        <div class="input-container">
            <input
                    type="email"
                    placeholder="Email"
                    [(ngModel)]="email"
            />
        </div>

        <button [disabled]="!email" (click)="sendEmail()">Send email</button>
    </div>
</ion-content>
