<app-header-impostazioni [subtitle]="'FAQ'"></app-header-impostazioni>


<ion-content class="faq-content">

    <ion-accordion-group>
        <ion-accordion>
            <ion-item slot="header">
                <ion-label>Che cos'è Serenity?</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
                Serenity è una piattaforma digitale progettata per supportare il benessere psicologico e
                la gestione dello stress quotidiano. Nasce per aiutare studenti e giovani lavoratori a
                trovare uno spazio sicuro dove prendersi cura della propria salute mentale.
            </div>
        </ion-accordion>

        <ion-accordion>
            <ion-item slot="header">
                <ion-label>A chi si rivolge Serenity?</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
                Serenity è pensata per studenti universitari, giovani professionisti e
                in generale per chi vive una quotidianità frenetica, con difficoltà
                a gestire ansia, stress e carichi emotivi.
            </div>
        </ion-accordion>

        <ion-accordion>
            <ion-item slot="header">
                <ion-label>Serenity è una piattaforma medica?</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
                No. Serenity non sostituisce un percorso terapeutico né offre
                diagnosi cliniche. È uno strumento di supporto al benessere emotivo
                e può essere usato in parallelo a un percorso con un professionista.
            </div>
        </ion-accordion>

        <ion-accordion>
            <ion-item slot="header">
                <ion-label>Come funziona la piattaforma?</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
                Serenity offre strumenti personalizzati per il benessere, come: <ul>
                <li> esercizi di respirazione e rilassamento,</li>
                <li> diario emotivo interattivo,</li>
                <li> suggerimenti su misura,</li>
                <li>contenuti guidati per la gestione dello stress,</li>
                <li> accesso a community e gruppi di supporto.</li>
                </ul>
            </div>
        </ion-accordion>

        <ion-accordion>
            <ion-item slot="header">
                <ion-label>I miei dati sono al sicuro?</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
                Sì. Serenity rispetta la privacy degli utenti e protegge tutte
                le informazioni personali secondo le normative vigenti. Nessun
                dato sensibile verrà condiviso con terze parti senza il tuo consenso.
            </div>
        </ion-accordion>
    </ion-accordion-group>

</ion-content>

