<ion-content class="ion-padding" fullscreen>
    <div class="container">
        <div class="back-button" (click)="goBack()">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </div>

        <h1>Create New Password</h1>
        <p>La tua nuova password deve essere differente dalla precedente.</p>

        <div class="input-group">
            <label>Password</label>
            <div class="input-wrapper">
                <input
                        [type]="showPassword1 ? 'text' : 'password'"
                        [(ngModel)]="password1"
                />
                <ion-icon
                        name="eye-off-outline"
                        (click)="togglePassword(1)">
                </ion-icon>
            </div>
        </div>

        <div class="input-group">
            <label>Password</label>
            <div class="input-wrapper">
                <input
                        [type]="showPassword2 ? 'text' : 'password'"
                        [(ngModel)]="password2"
                />
                <ion-icon
                        name="eye-off-outline"
                        (click)="togglePassword(2)">
                </ion-icon>
            </div>
        </div>

        <button (click)="resetPassword()" [disabled]="!password1 || !password2">Reset Password</button>
    </div>
</ion-content>
