ion-header {
  background-color: #f8f1e4;
}

ion-toolbar {
  --background: #f8f1e4;
  --color: #3c3c3c;
}
* {
  font-family: 'Times New Roman', Times, serif;
}
h2 {
  font-weight: bold;
  color: black;
}
h3 {
  color: black;
}
.custom-button {
  background-color: #F7F3F0;
  color: #F7F3F0;
  padding: 11px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.custom-button:hover {
  transform: scale(1.05);
}

.custom-button img {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
}

.custom-button p {
  margin: 0;
  font-weight: bold;
  color: #3c3c3c;
  font-size: 10px;
}

ion-grid {
  margin-top: 20px;
}

ion-col {
  text-align: center;
}

ion-card {
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.domanda{
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin: 5px 0 5px 0;
}
.custom-card {
  background-color: #F7F3F0;
  border-radius: 15px;
  margin: 20px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #F7F3F0;
  color: #F7F3F0;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.card-header .card-icon {
  //width: 150px;
  //height: 150px;
  vertical-align: middle;
}

.card-content {
  padding: 15px;
  text-align: center;
  color: #3c3c3c;
  font-size: 14px;
}
.custom-card-doppio {
  background-color: #F7F3F0;
  border-radius: 15px;
  margin-left: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.custom-card-doppio2 {
  background-color: #F7F3F0;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card-header-doppio {
  background-color: #F7F3F0;
  color: #F7F3F0;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.card-content-doppio {
  padding: 15px;
  text-align: center;
  color: #3c3c3c;
  font-size: 14px;
}
.doppio{
  display: flex;
}



ion-footer {
  background-color: #f8f1e4;
}
