<ion-header xmlns:height="http://www.w3.org/1999/xhtml">
    <ion-toolbar>
        <ion-title>Benvenuta {{ username }}!</ion-title>
        <ion-buttons slot="end">
            <ion-avatar>
                <img src="assets/profilo.png" alt="Avatar" />
            </ion-avatar>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <p class="domanda">Come ti senti oggi?</p>

    <!-- Emozioni con immagini -->
    <ion-grid>
        <ion-row>
            <ion-col size="3" class="ion-text-center">
                <div class="custom-button">
                    <img src="assets/img/calma.png" alt="Calma" />
                    <p>Calma</p>
                </div>
            </ion-col>
            <ion-col size="3" class="ion-text-center">
                <div class="custom-button">
                    <img src="assets/img/felice.svg" alt="Felicità" />
                    <p>Felicità</p>
                </div>
            </ion-col>
            <ion-col size="3" class="ion-text-center">
                <div class="custom-button">
                    <img src="assets/img/focus.png" alt="Focus" />
                    <p>Focus</p>
                </div>
            </ion-col>
            <ion-col size="3" class="ion-text-center">
                <div class="custom-button">
                    <img src="assets/img/ansia.png" alt="Ansioso" />
                    <p>Ansioso</p>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="3" class="ion-text-center">
                <div class="custom-button">
                    <img src="assets/img/tristezza.svg" alt="Tristezza" />
                    <p>Tristezza</p>
                </div>
            </ion-col>
            <ion-col size="3" class="ion-text-center">
                <div class="custom-button">
                    <img src="assets/img/paura.png" alt="Paura" />
                    <p>Paura</p>
                </div>
            </ion-col>
            <ion-col size="3" class="ion-text-center">
                <div class="custom-button">
                    <img src="assets/img/rabbia.svg" alt="Rabbia" />
                    <p>Rabbia</p>
                </div>
            </ion-col>
            <ion-col size="3" class="ion-text-center">
                <div class="custom-button">
                    <img src="assets/img/altro.svg" alt="Altro" />
                    <p>Altro</p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- Card di contenuti -->
    <div class="custom-card">
        <div class="card-header">
            <img src="assets/img/areaBenessere.png" alt="Area Benessere" class="card-icon" height="130" width="150"/>
            <div class="card-content">
                <h3>Area Benessere</h3>
                Tecniche, Benefici per la meditazione.
            </div>
        </div>
    </div>

    <div class="custom-card">
        <div class="card-header">
            <img src="assets/img/progressi.png" alt="Progressi" class="card-icon" height="150" width="150"/>

            <div class="card-content">
                <h3>Visualizza Progressi</h3>
                Resta aggiornato sui tuoi progressi emotivi.
            </div>
        </div>

    </div>

    <div class="doppio">
    <div class="custom-card-doppio2">
        <div class="card-header-doppio">
            <div class="card-content-doppio">
                <h3>Respira</h3>
                Fai un esercizio di rilassamento.
            </div>
        </div>

    </div>

    <div class="custom-card-doppio">
        <div class="card-header-doppio">
            <div class="card-content-doppio">
                <h3>Diario</h3>
                Scrivi tutto ciò che provi, sentiti libero.
            </div>
        </div>
    </div>
 </div>
    <div class="custom-card">
        <div class="card-header">
            <img src="assets/chat.png" alt="Parla con ..." class="card-icon" height="90" width="90" />
            <div class="card-content">
                <h3>Parla con ...</h3>
                Parla con l'AI, sfogati e non sentirti giudicato.
            </div>
        </div>
    </div>
</ion-content>


<ion-footer>
    <ion-toolbar>
        <ion-button expand="full">Home</ion-button>
    </ion-toolbar>
</ion-footer>
