<ion-header>
    <ion-toolbar class="body-scan-header">
        <div class="back-button" (click)="goBack()">
            <ion-icon name="chevron-back" class="back-icon"></ion-icon>
        </div>
        <ion-title>Body Scan</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <!-- Immagine -->
    <img src="assets/img/area-benessere/body-scan.png" alt="Body Scan" class="meditation-image"/>

    <!-- Barra di avanzamento -->
    <ion-range
            min="0"
            max="910"
            [value]="audioProgress"
            color="primary"
            (ionChange)="seekAudio($event)">
    </ion-range>

    <!-- Tempo trascorso e tempo totale -->
    <div class="time-indicator">
        <span>{{ currentTime }}</span> /
        <span>{{ duration }}</span>
    </div>

    <!-- Controlli audio -->
    <div class="audio-controls">
        <ion-icon name="play-skip-back-outline" (click)="skipBack()"></ion-icon>
        <!-- Cambia l'icona in base a se è in play o pausa -->
        <ion-icon [name]="isPlaying ? 'pause-circle' : 'play-circle'" class="play-btn"
                  (click)="togglePlay()"></ion-icon>
        <ion-icon name="play-skip-forward-outline" (click)="skipForward()"></ion-icon>
    </div>

    <!-- Sezione benefici -->
    <ion-card>
        <ion-card-header>
            <ion-card-title>Benefici</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="benefit-box">
                Focalizzati gradualmente su parti diverse del tuo corpo per rilasciare tensioni e promuovere il
                rilassamento.
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer>
    <app-footer></app-footer>
</ion-footer>
